<html>

<head>
	<script src="lib/jquery/dist/jquery.min.js"></script>
	<script src="lib/js-cookie/src/js.cookie.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="js/model/controller.js"></script>
	<script src="js/controller.js"></script>
	<link rel='shortcut icon' href='img/favicon.ico' type='image/x-icon'>
	<link rel="stylesheet" type="text/css" href="css/site.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome-4.6.3/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:black,normal" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="controller">

	<div class="header">
		<div class="header-container">
			<div class="header-logo">
				<img class="logo">
			</div>
			<i class="fa fa-question-circle switch"></i>
		</div>
	</div>

	<div class="content">
		<div class="content-controller content-main">
			<div class="content-waiting">
				<div class="content-waitiing-header">Next question in:</div>
				<div class="content-wait-time"></div>
				<i class="fa fa-clock-o icon" aria-hidden="true"></i>
			</div>
			<div class="content-buttons" style="display: none;">
				<div class="content-name">
					<span id="name"></span>
				</div>
				<table style="display: none">
					<tr>
						<td><button data-answer-id=0 class="controller-button">A</button></td>
				  </tr>
					<tr>
						<td><button data-answer-id=1 class="controller-button">B</button></td>
					</tr>
					<tr>
						<td><button data-answer-id=2 class="controller-button">C</button></td>
					</tr>
					<tr>
						<td><button data-answer-id=3 class="controller-button">D</button></td>
					</tr>
				</table>
			</div>
			<table class="content-score">
				<tr>
					<td class="content-score-icon score-correct">
						<i class="fa fa-check"></i><span></span>
					</td>
					<td class="content-score-icon score-incorrect">
						<i class="fa fa-close"></i><span></span>
					</td>
					<td class="content-score-icon score-missed">
						<i class="fa fa-user-times"></i><span></span>
					</td>
					<td class="content-score-icon score-drinks">
						<i class="fa fa-glass"></i><span></span>
					</td>
				</tr>
			</table>
		</div>
		<div class="content-rules content-main" style="display: none;">
			<div class="content-text">RULES</div>
			<ul>
				{{#rules}}
				<li>{{.}}</li>
				{{/rules}}
			</ul>
		</div>
	</div>

</body>
