<html>

<head>
<script src="js/jquery.min.js"></script>
<script src="js/js.cookie.js"></script>
<script src="js/site.js"></script>
<link rel="stylesheet" type="text/css" href="css/site.css">
</head>

<body>

<div class="header">
	<span class="text" id="name"></span>
</div>

<div class="content">
	<table>
		<tr>
			<td></td>
			<td style="vertical-align: bottom"><button data-answer-id=1 class="controller-button">A</button></td>
			<td></td>
		</tr>
		<tr>
			<td style="text-align: right"><button data-answer-id=2 class="controller-button">B</button></td>
			<td></td>
			<td style="text-align: left"><button data-answer-id=3 class="controller-button">C</button></td>
		</tr>
		<tr>
			<td></td>
			<td style="vertical-align: top"><button data-answer-id=4 class="controller-button">D</button></td>
			<td></td>
		</tr>
	</table>
</div>

