<html>

<head>
<link rel="stylesheet" type="text/css" href="../css/app.css">
</head>

<body>

  <video id="movie" class="movie" controls>
    <source id='avi'
    src="file:///C:/Users/Ryan%20Mueller/Downloads/Hell%20Comes%20to%20Frogtown%20(1988)%20-%20720p/Hell.Comes.to.Frogtown.1988.720p.BluRay.x264.VPPV.mp4"
    type='video/mp4'>
    <p>Your user agent does not support the HTML5 Video element.</p>
  </video>

  <div class="overlay" style="display: none;">
    <div id="question">
  		<div class="badge">
  		  <img src="../img/beer.png">
  		</div>
    	<div id="question-text"></div>
	   </div>

    <table>
      </tr>
      <tr>
        <td id="answer-1" class="answer"></td>
        <td id="answer-2" class="answer"></td>
      </tr>
      <tr>
        <td id="answer-3" class="answer"></td>
        <td id="answer-4" class="answer"></td>
      </tr>
    </table>

    <div class="timer"></div>
  </div>

  <script>
    const {ipcRenderer} = require('electron');
    const $ = require('jquery');

    var movie = document.querySelector('.movie');
    var timer = $('.timer');

    movie.addEventListener('timeupdate', function () {
      ipcRenderer.send('movie-time', movie.currentTime);
    })

    ipcRenderer.on('show-question', function(event, question) {
      $('#question-text').html(question.text);
      $('#answer-1').html(question.answers[0]);
      $('#answer-2').html(question.answers[1]);
      $('#answer-3').html(question.answers[2]);
      $('#answer-4').html(question.answers[3]);
      $('.overlay').show();
    });

    ipcRenderer.on('show-answer', function(event, answer) {
      $('#answer-' + answer).add.Class('correct');
    });

    ipcRenderer.on('hide-question', function(event) {
      $('.overlay').hide();
    });

    ipcRenderer.on('show-question', function(event, question) {
      $('#question-text').html(question.text);
      $('.overlay').show();
    });
  </script>

  <script>

    var startTime = movie.currentTime;
    var alottedTime = 10;
    var answerId = 1;

    var interval = setInterval(function() {
      var currentTime = movie.currentTime;
      var timerWidth = 100 - (100 * ((currentTime - startTime) / alottedTime));
      timer.css('width', timerWidth + '%');
      if (timerWidth <= 0) {
        clearInterval(interval);

        $('#answer-' + answerId).addClass('correct');
      }
    }, 50);
  </script>

</body>
</html>
