<html>

<head>
	<link rel='shortcut icon' href='img/favicon.ico' type='image/x-icon'>
	<link rel="stylesheet" type="text/css" href="css/site.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:black" rel="stylesheet">
	<script src="lib/jquery/dist/jquery.min.js"></script>
	<script src="lib/js-cookie/src/js.cookie.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
</head>

<body class="controller">

	<div class="header">
		<div class="header-container">
			<div class="header-logo">
				<img class="logo">
			</div>
		</div>
	</div>

	<div class="content">
		<div class="content-start-game">
			<div class="content-start-game-container">
				<img class="logo-medium">
				<div><b>no game found</b></div>
				<div>please refresh your page to try again</div>
			</div>
		</div>
	</div>

</body>
</html>
