<html>

<head>
	<link rel="stylesheet" type="text/css" href="css/site.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:black" rel="stylesheet">
	<script src="lib/jquery/dist/jquery.min.js"></script>
	<script src="lib/js-cookie/src/js.cookie.js"></script>
</head>

<body class="controller">

	<div class="header">
		<div class="header-container">
			<div class="header-logo">
				<img class="logo">
			</div>
		</div>
	</div>

	<div class="content">
		<div class="content-text content-notfound">No game found. Refresh to try again.</div>
	</div>

  <script>
    $(".refresh").click(location.reload);
  </script>

</body>
</html>
