<html>

<head>
	<link rel='shortcut icon' href='img/favicon.ico' type='image/x-icon'>
	<link rel="stylesheet" type="text/css" href="css/site.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:black" rel="stylesheet">
	<script src="lib/jquery/dist/jquery.min.js"></script>
	<script src="lib/js-cookie/src/js.cookie.js"></script>
	<script src="js/signin.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
</head>

<body class="controller">

	<div class="header">
		<div class="header-container">
			<div class="header-logo">
				<img class="logo">
			</div>
		</div>
	</div>

	<div class="content">
		<div class="content-text">SIGN IN</div>
		<form method="POST">
    	<input id="name" name="user_name" type="text" placeholder="USER NAME">

			{{#error}}
				<div class="content-error">{{ error }}</div>
			{{/error}}

			<br />

  		<button type="submit" class="submit">SUBMIT</button>
		</form>
	</div>

</body>
</html>
