<html>

<head>
<link rel="stylesheet" type="text/css" href="css/site.css">
<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/js-cookie/src/js.cookie.js"></script>
<script src="js/signin.js"></script>
</head>

<body>

	<div class="header"><span class="text">Movie Drinking App</span></div>

	<div class="content">
		<form method="POST">
	        	<input id="name" name="user_name" type="text" placeholder="your funny name">
			<br />
        		<button type="submit" class="submit">Submit</button>
		</form>
	</div>
</body>
</html>
