<html>

<head>
<script src="js/jquery.min.js"></script>
<script src="js/js.cookie.js"></script>
<script src="js/site.js"></script>
<link rel="stylesheet" type="text/css" href="css/site.css">
</head>

<body>

	<div class="header"><span class="text">asddsaf Movie Drinking App</span></div>

	<div>
		<form method="POST">
	        	<input name="user_name" type="text" placeholder="your funny name">
			<br />
        		<button type="submit" class="submit">Submit</button>
		</form>
	</div>
</body>
</html>
