  @font-face {
    font-family: PaytoneOne;
    src: url(PaytoneOne.ttf);
  }

.movie {
	height: 100%;
	width: 100%;
}

#intro {
  background-color: #0083ce;
  height:100%;
}

#intro .title {
  position: relative;
  font-family: PaytoneOne;
  width: 832px;
  top: -186px;
  left: -151px;
}

#intro .ip {
  top: -94px;
  font-family: PaytoneOne;
  position: relative;
  width: 72%;
  font-size: 41px;
  display: block;
  margin: auto;
}

#intro img {
  content:url("../img/beer.png");
  width: 387px;
  left: 64px;
  top: -116px;
  position: relative;
}

#intro .start {
  top: -56px;
  margin: auto;
  position: relative;
  display: block;
  width: 100%;
  border-radius: 30px;
  height: 90px;
  background-color: blue;
  color: #f4f8fb;
  border: 4px solid #f4f8fb;
  font-size: 30px;
  cursor: pointer;
}

.logo {
  display: block;
  width: 500px;
  height: 500px;
  margin: auto;
  position: relative;
  -moz-box-shadow: 3px 4px 0px 0px #899599;
  -webkit-box-shadow: 3px 4px 0px 0px #899599;
  box-shadow: 3px 4px 0px 0px #899599;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  border:6px solid #f4f8fb;
  color:#f4f8fb;
  font-size:70px;
  font-family: Cheri;
  padding:7px 25px;
  text-decoration:none;
  text-shadow:0px 1px 0px #e1e2ed;
  top: 25%;
  background-color: #000000;
  outline: none;
}

.logo:hover {
  background-color: yellow;
}

.overlay {
  font-family: PaytoneOne;
  top: 55%;
  left: 16%;
  position: absolute;
  z-index: 2147483647;
}

.badge {
    -moz-box-shadow: 0 0 32px #fff;
    -webkit-box-shadow: 0 0 32px #fff;
    box-shadow: -8px 0px 32px #FFF;
    position: absolute;
    margin-top: 17px;
    background-color: #f4f8fb;
    border: 15px solid black;
    width: 220px;
    height: 220px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 10;
}

.badge .beer {
    content:url("../img/beer.png");
    -ms-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
    top: -31px;
    position: absolute;
    height: 276px;
    left: 12px;
}

.badge .arnold {
  content:url("../img/arnold.png");
  top: -48px;
  position: absolute;
  height: 317px;
  left: 33px;
}

.badge .cassette {
  content:url("../img/cassette.png");
  top: 2px;
  position: absolute;
  height: 219px;
  left: -43px;
}

.badge .champagne {
  content:url("../img/champagne.png");
  top: -93px;
  position: absolute;
  height: 353px;
  left: -33px;
}

.badge .confused {
  content:url("../img/confused.png");
  top: -81px;
  position: absolute;
  height: 317px;
  left: -24px;
}

.badge .guitar {
  content:url("../img/guitar.png");
  top: -54px;
  position: absolute;
  height: 317px;
  left: -39px;
}

.badge .martini {
  content:url("../img/martini.png");
  -ms-transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
  transform: rotate(12deg);
  top: -37px;
  position: absolute;
  height: 294px;
  left: -9px;
}

.badge .shoes {
  content: url("../img/shoes.png");
  top: -22px;
  position: absolute;
  height: 257px;
  left: -42px;
}

.badge .vandamme {
  content:url("../img/vandamme.png");
  top: -92px;
  position: absolute;
  height: 337px;
  left: -54px;
}

.badge .wine {
  content:url("../img/wine.png");
  top: -37px;
  position: absolute;
  height: 288px;
  left: -37px;
}

#question {
    position: relative;
}

#question-text {
    font-size: 26px;
    -moz-box-shadow: 0 0 32px #fff;
    -webkit-box-shadow: 0 0 32px #fff;
    box-shadow: 0px 0px 32px #FFF;
    -moz-border-top-right-radius: 43px;
    -webkit-border-top-right-radius: 43px;
    border-top-right-radius: 43px;
    -moz-border-bottom-right-radius: 43px;
    -webkit-border-bottom-right-radius: 43px;
    border-bottom-right-radius: 43px;
    position: relative;
    border: 10px solid black;
    border-right: 30px solid black;
    border-bottom: 7px solid black;
    top: 87px;
    left: 215px;
    padding: 35px 0px;
    width: 960px;
    background-color: #f4f8fb;
    z-index: 9;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

  body {
    background-color: black;
    overflow: hidden;
  }

  .header {
    display: table;
    height: 10%;
    width: 100%;
    position: relative;
    background-color: #f4f8fb;
  }

  .header .text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .content {
    height: 90%;
  }

html, body {
  height: 100%;
}

body {
  margin: 0;
}

table {
  visibility: hidden;
  border-spacing: 1em;
  width: 95%;
  position: relative;
  top: 100px;
  left: 254px;
  color: black;
  font-size: 20px;
}

td {
  border: 3px solid white;
  -moz-box-shadow: 2px 4px 6px #fff;
  -webkit-box-shadow: 2px 4px 6px #fff;
  box-shadow: 2px 4px 6px #FFF;
  -moz-border-radius: 43px;
  -webkit-border-radius: 43px;
  border-radius: 43px;
  -moz-border-radius: 43px;
  -webkit-border-radius: 43px;
  border-radius: 43px;
  background-color: #f4f8fb;
  text-align: left;
  width: 50%;
  padding: 17px 20px;
}

td.correct {
  background-color: #3d3;
}

.timer {
  position: relative;
  height: 10px;
  width: 100%;
  background-color: red;
  top: -114px;
  left: 176px;
}
