@font-face {
    font-family: AsCute;
    src: url(as_cute.ttf);
  }

  @font-face {
    font-family: Cheri;
    src: url(CHERI.ttf);
  }

  @font-face {
    font-family: Rocko-Bold;
    src: url(Rocko-Bold.ttf);
  }

  @font-face {
    font-family: PaytoneOne;
    src: url(PaytoneOne.ttf);
  }

.movie {
	height: 100%;
	width: 100%;
}

.overlay {
  top: 0;
  position: absolute;
  z-index: 2147483647;
}

.badge {
    -moz-box-shadow: 0 0 32px #fff;
    -webkit-box-shadow: 0 0 32px #fff;
    box-shadow: -8px 0px 32px #FFF;
    position: absolute;
    margin-top: 17px;
    background-color: #f4f8fb;
    border: 15px solid black;
    width: 220px;
    height: 220px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 10;
}

.badge img {
    -ms-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
    top: -31px;
    position: absolute;
    height: 276px;
    left: 12px;
}

#question {
    font-family: Cheri;
    position: relative;
}

#question-text {
    font-famly: Rocko-Bold;
    -moz-box-shadow: 0 0 32px #fff;
    -webkit-box-shadow: 0 0 32px #fff;
    box-shadow: 0px 0px 32px #FFF;
    -moz-border-top-right-radius: 43px;
    -webkit-border-top-right-radius: 43px;
    border-top-right-radius: 43px;
    -moz-border-bottom-right-radius: 43px;
    -webkit-border-bottom-right-radius: 43px;
    border-bottom-right-radius: 43px;
    position: relative;
    border: 10px solid black;
    border-right: 30px solid black;
    border-bottom: 7px solid black;
    top: 87px;
    left: 215px;
    padding: 35px 0px;
    width: 960px;
    background-color: #f4f8fb;
    z-index: 9;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

  body {
    font-family: AsCute;
    background-color: #0083ce;
  }

  .header {
    display: table;
    height: 10%;
    width: 100%;
    position: relative;
    background-color: #f4f8fb;
  }

  .header .text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .content {
    height: 90%;
    font-family: Raleway;
  }

  .controller-button {
    width: 100%;
    height: 100%;
  	-moz-box-shadow: 3px 4px 0px 0px #899599;
  	-webkit-box-shadow: 3px 4px 0px 0px #899599;
  	box-shadow: 3px 4px 0px 0px #899599;
  	-moz-border-radius:50%;
  	-webkit-border-radius:50%;
  	border-radius:50%;
  	border:6px solid #f4f8fb;
  	display:inline-block;
  	cursor:pointer;
  	color:#f4f8fb;
  	font-size:70px;
    font-family: Cheri;
  	padding:7px 25px;
  	text-decoration:none;
  	text-shadow:0px 1px 0px #e1e2ed;
    background-color: #000000;
    outline: none;
  }

.pressed {
  top:1px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: yellow;
  border-color: black;
  color: black;
  -moz-box-shadow: 0 0 32px #fff;
  -webkit-box-shadow: 0 0 32px #fff;
  box-shadow: 0px 0px 32px #FFF;
}


.controller-button:active:not(.pressed) {
	position:relative;
	top:1px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: grey;
	border: 6px solid grey;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

table {
  height: 100%;
  width: 100%;
}

tr {
  height: 33%;
}

td {
  text-align: center;
  width: 33%;
}

tr, td {
  padding: 0;
  margin: 0;
//  border: 1px solid black;
}

form {
	position: relative;
	text-align: center;
}

input {
  font-family: Raleway;
  border: none;
  background: #FFF;
  width: 80%;
  height: 194px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  font-size: 56px;
  padding: 64px;
  color: #065d7b;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

.submit {
  font-family: Raleway;
  width: 80%;
  height: 194px;
  border: none;
  font-size: 56px;
  margin-top: 55px;
  border-radius: 19px;
  background-color: #065d7b;
  color: #f5f8fe;
  border-bottom: 17px solid #04495e;
}

.switch {
  position: absolute;
  top: 23%;
  right: 5%;
  cursor: pointer;
}

.rules {
  font-family: PaytoneOne;
  color: ghostwhite;
  padding: 27px;
}

.rules .movie-title {
  font-size: 41px;
}

.rules ul {
  font-size: 1.5em;
}

.sign-in {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sign-in .header-container {
  width: 80%;
  margin: auto;
}

.sign-in .header-logo {
  width: 50%;
  height: 100%;
}

.logo {
  content: url(../img/Logo.svg);
  height: 100%;
  width: 100%;
}

.sign-in .content .content-text {
  text-align: center;
  padding: 90px 0px;
  color: #065d7b;
  font-size: 111px;
}
